{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row sorted-block">
    <div class="btn-group">
        <a href="/?sorted=date" id="sorted-by-date" class="btn btn-outline-secondary">New Question</a>
        <a href="/?sorted=vote" id="sorted-by-vote" class="btn btn-outline-secondary">Hot Question</a>
    </div>
    <h>
</div>
<div class="list-question" id="list_question">
    {% for question in object_list %} {% include 'one_question_in_list.html' %} {% empty %}
    <div>No question</div>
    {% endfor %}
</div>
{% include 'paginator.html' %} {% block end_script %}
<script>
    var url = new URL(window.location);
    var sorted = url.searchParams.get("sorted");
    if (sorted == "date") {
        $("#sorted-by-date").addClass('active');
        $("#sorted-by-vote").removeClass('active');
    }
    if (sorted == "vote") {
        $("#sorted-by-vote").addClass('active');
        $("#sorted-by-date").removeClass('active');
    }
</script>
{% endblock %} {%endblock%}